* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, #555, #999); /* Degradado de gris de izquierda a derecha */
}



.form-register {
    background-color: #24303c;
    position: relative;
    z-index: 1;
    width: 800px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 50%; /* Utiliza la mitad del ancho del contenedor para centrar */
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px auto; /* Auto en el margen horizontal centra el botón */
    font-size: 16px;
    display: block; /* Cambiado a bloque para ocupar el ancho disponible */
    box-sizing: border-box;
    border-radius: 20px;
}
